{
  "presets": [
    [
      "@babel/preset-typescript",
      {
        "targets": {
          "esmodules": false
        }
      }
    ]
  ],
  "plugins": [
    [
      "transform-react-jsx",
      {
        "pragma": "h"
      }
    ]
  ]
}
