#overlay_add_action
    #overlay_add_icon +
    #overlay_add_events_container.arrow_box
        .overlay_heading Select action you want to take
        .overlay_grid
            .overlay_add_event_item(data-action="CLICK")
                | Click
            .overlay_add_event_item(data-action="HOVER")
                | Hover
            .overlay_add_event_item(data-action="SCROLL_TO_VIEW")
                | Scroll To view
            .overlay_add_event_item(data-action="SCREENSHOT")
                | Screenshot
        .overlay_close_icon X
