#overlay_add_action
    #overlay_add_icon +
    #overlay_add_events_container.arrow_box
        .overlay_heading Select action you want to take
        .overlay_grid
            .overlay_add_event_item(data-action="click")
                | Click
            .overlay_add_event_item(data-action="input")
                | Input
            .overlay_add_event_item(data-action="hover")
                | Hover
            .overlay_add_event_item(data-action="scroll-to-view")
                | Scroll To view
            .overlay_add_event_item(data-action="assert-text")
                | Assert Text
            .overlay_add_event_item(data-action="extract-info")
                | Extract Info
            .overlay_add_event_item(data-action="screenshot")
                | Screenshot
            .overlay_add_event_item(data-action="blackout")
                | Blackout
            .overlay_add_event_item(data-action="wait")
                | Wait for them
        .overlay_close_icon X
