.overlay
    .overalay-container
        .overlay-wizard
            .wizard-browser-selection
                .browser-type-button.browser-selected All
                .browser-type-button Chrome
                .browser-type-button Safari
                .browser-type-button Firefox
                .browser-type-button Edge
            .overlay-wizard-device-selection
                .device-type-button.device-selected Desktop
                .device-type-button Mobile
            .overlay-wizard-button Start
        .overlay-step
            h2 Steps To Use
            p|
                |  1.) Press Play button
                br
                |
                |  2.) Click on right dot to select interactions
                br
                |
                |  3.) When complete save the interaction.
                br
                |
                |  4.) On completion, replay it it or export it.
