
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    width: 100%;
    background: #0B0B1F;
    background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
    display: none;
}
/* Custom Select */
.select {
    position: relative;
    display: flex;
    height: 2.9rem;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
}
option {

}
select {
    flex: 1;
    padding: 0 1rem;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    font-family: DM Sans;
    font-size: 0.9rem;
}
/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    height: 2.9rem;
    top: 0;
    right: 0;
    padding: 0.25rem 1.5em;
    background: #0B0B1F;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}
/* Transition */
.select:hover::after {
    color: #f39c12;
}
