#overlay{
    width: 100%; height: 100%; position: fixed; top:0; left: 0; z-index: 999; background: rgba(27, 27, 29, 0.94);
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: 'Panton';
}
.overalay-container{
    max-width: 95%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 70px 0;
}

.overlay-wizard{
    width: 100%;
    box-sizing: border-box;
    min-height: 45px;
    left: 352px;
    top: 161px;
    background: #FFFFFF;
    border: 2px solid #DBDBDB;
    border-radius: 15px;
    margin-bottom: 50px;;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
}

#overlay-wizard-button{
    width: 81px;
    height: 33px;

    background: #5AD7FF;
    border: 2px solid #1EAFDD;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;
    cursor: pointer;
}

.device-type-button{
    width: 81px;
    height: 33px;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1a1a1a;
    margin: 15px 0px;
    cursor: pointer;
}

.device-selected{
    background: #F8F8F8;
    border: 1px solid #DDDDDD;
}

.overlay-wizard-device-selection{
    display: flex;
}

.wizard-browser-selection{
    display: flex;
}

.browser-type-button{
    padding: 0 20px;
    height: 33px;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1a1a1a;
    margin: 15px 0px;
    cursor: pointer;
}
.browser-selected{
    border: 1px solid #DDDDDD;
}

.overlay h2{
    font-size: 24px;
}

.overlay p{
    font-size: 18px;
    line-height: 2.76;
}
#add_actions_overlay{
    border-radius: 55px;
    border-width: 2px;
    background-color: red;
    color: white;
    padding: 6px 10px;
    font-size: 16px;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1000;
}


/* Capture actions */
#overlay_add_action{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    display: none;
}
#overlay_add_icon{
    border-color: #FA5586;
    color: #F1326B;
    border-width: 3px;
    border-style: solid;
    text-align: center;
    font-weight: 800;
    width: 24px;
    height: 24px;
    font-size: 18px;
    border-radius: 16px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    cursor: pointer;
}
.overlay_heading{
    margin-top: 4px;
    margin-bottom: 12px;
}
#overlay_add_events_container{
    min-width: 240px;
    padding-top: 18px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #E0114F;
    background: #F1326B;
    margin-top: 14px;
    position: absolute;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    display: none;
}
.overlay_grid{
    display: grid;
    grid-column-gap: 16px;
    grid-row-gap: 4px;
    grid-template-columns: auto auto;
    width: 100%;
}
.overlay_close_icon{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F1326B;
    font-size: 13px;
    font-weight: 800;
    top:4px;
    right: 12px;
    background: white;
    width: 22px;
    height: 22px;
    border-radius: 12px;
    cursor: pointer;
}
.overlay_add_event_item{
    padding: 10px 10px 10px 0px;
}
